flows.json
[
    {
        "id": "829a2e3b23ade54f",
        "type": "tab",
        "label": "Dispositvo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e87ce19f1e2a5fe2",
        "type": "tab",
        "label": "Analise de Dados",
        "disabled": false,
        "info": "Análisa os dados publicados pelo dispositivo no broker e indentifica momento de posse",
        "env": []
    },
    {
        "id": "e2ea43b996df78ee",
        "type": "tab",
        "label": "Portal Passa a Bola",
        "disabled": false,
        "info": "Simulação da coleta de dados pelo portal passa a bola",
        "env": []
    },
    {
        "id": "e85d277034a02153",
        "type": "tls-config",
        "name": "cert",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "isrgrootx1.pem",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "93cc4ab2ad6d99dc",
        "type": "mqtt-broker",
        "name": "Configure seu broker aqui",
        "broker": "url do broker",
        "port": "8883",
        "tls": "e85d277034a02153",
        "clientid": "teste",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "3",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "1",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3fe6d20b1ea33a37",
        "type": "mqtt out",
        "z": "829a2e3b23ade54f",
        "name": "Esp32s + NEO-6M",
        "topic": "campo/jogadora",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93cc4ab2ad6d99dc",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "a74b19b8b9e7888c",
        "type": "inject",
        "z": "829a2e3b23ade54f",
        "name": "Coordenada Jogadora",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"x\": 20, \"y\": 20 }",
        "payloadType": "str",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "3fe6d20b1ea33a37"
            ]
        ]
    },
    {
        "id": "95edc371a816a4d1",
        "type": "mqtt out",
        "z": "829a2e3b23ade54f",
        "name": "Esp32s + NEO-6M",
        "topic": "campo/bola",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93cc4ab2ad6d99dc",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "05737cda0612bb1f",
        "type": "inject",
        "z": "829a2e3b23ade54f",
        "name": "Coordenada bola",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"x\": 12, \"y\": 22 }",
        "payloadType": "str",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "95edc371a816a4d1"
            ]
        ]
    },
    {
        "id": "e7b72a6d5c3d6967",
        "type": "mqtt in",
        "z": "e87ce19f1e2a5fe2",
        "name": "Coleta dados da jogadora do broker",
        "topic": "campo/jogadora",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "93cc4ab2ad6d99dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 560,
        "y": 320,
        "wires": [
            [
                "9744f4c1d1c675b6"
            ]
        ]
    },
    {
        "id": "2240bce7862a794a",
        "type": "mqtt in",
        "z": "e87ce19f1e2a5fe2",
        "name": "Coleta dados da bola do broker",
        "topic": "campo/bola",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "93cc4ab2ad6d99dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "3807648313ac283c"
            ]
        ]
    },
    {
        "id": "9744f4c1d1c675b6",
        "type": "change",
        "z": "e87ce19f1e2a5fe2",
        "name": "CoordenadaJogadora",
        "rules": [
            {
                "t": "set",
                "p": "coordenadaJogadora",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 280,
        "wires": [
            [
                "80ba58aca7ec34db"
            ]
        ]
    },
    {
        "id": "3807648313ac283c",
        "type": "change",
        "z": "e87ce19f1e2a5fe2",
        "name": "CoordenadaBola",
        "rules": [
            {
                "t": "set",
                "p": "coordenadaBola",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 460,
        "wires": [
            [
                "80ba58aca7ec34db"
            ]
        ]
    },
    {
        "id": "80ba58aca7ec34db",
        "type": "function",
        "z": "e87ce19f1e2a5fe2",
        "name": "Teste de verificacao de proximidade",
        "func": "const jogadoraCoordenada = flow.get(\"coordenadaJogadora\");\nconst bolaCoordenada = flow.get(\"coordenadaBola\");\n\nif (!jogadoraCoordenada || !bolaCoordenada){\n    return null;\n}\n\nconst distancia = Math.sqrt(\n    Math.pow(bolaCoordenada.x - jogadoraCoordenada.x, 2) +\n    Math.pow(bolaCoordenada.y - jogadoraCoordenada.y, 2)\n);\n\nconst limiarProximidade = 5;\n\nif (distancia < limiarProximidade){\n    msg.payload = \"Jogadora com a bola\";\n}else{\n    msg.payload = \"Jogadora distânte da bola\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 360,
        "wires": [
            [
                "f0915b4c9965028f"
            ]
        ]
    },
    {
        "id": "f0915b4c9965028f",
        "type": "mqtt out",
        "z": "e87ce19f1e2a5fe2",
        "name": "Publica Dados no Broker",
        "topic": "campo/jogadora/posse",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93cc4ab2ad6d99dc",
        "x": 1270,
        "y": 360,
        "wires": []
    },
    {
        "id": "2e1eaab1b6fb2ea7",
        "type": "mqtt in",
        "z": "e2ea43b996df78ee",
        "name": "Coleta dados de posse do broker",
        "topic": "campo/jogadora/posse",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "93cc4ab2ad6d99dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "627189bdfe71bb80"
            ]
        ]
    },
    {
        "id": "92f71f0c00bd90f7",
        "type": "http in",
        "z": "e2ea43b996df78ee",
        "name": "Monta o Endpoint",
        "url": "/posse",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "dabe77b6cfc694e8"
            ]
        ]
    },
    {
        "id": "627189bdfe71bb80",
        "type": "change",
        "z": "e2ea43b996df78ee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "posse",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "588ced68450f643f",
        "type": "http response",
        "z": "e2ea43b996df78ee",
        "name": "Envia Resposta",
        "statusCode": "",
        "headers": {},
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "dabe77b6cfc694e8",
        "type": "function",
        "z": "e2ea43b996df78ee",
        "name": "Verifica Dados",
        "func": "const posse = global.get(\"posse\");\n\nif (posse) {\n    msg.statusCode = 200;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = {\n        \"status\": \"OK\",\n        \"jogo\": posse\n    }\n} else {\n    msg.statusCode = 404;\n    msg.payload = \"Dados não encontrados\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 440,
        "wires": [
            [
                "588ced68450f643f"
            ]
        ]
    }
]